* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* leftSidebar */

.sidebarProfileBox {
    background-color: #fff;
    padding: 0 0 20px;
}


.sidebarActivity {
    background-color: #fff;
    margin: 12px 0;
    padding: 5px 20px;
}

.sidebarActivity h3 {
    color: #777;
    font-weight: 500;
    font-size: 14px;
    margin: 20px 0 10px;
}

.sidebarActivity a {
    display: flex;
    align-items: center;
    margin: 10px 0;
    font-size: 14px;
}

.sidebarActivity a img {
    width: 20px;
    margin-right: 10px;
}

.discoverMoreLink {
    border-top: 1px solid #ccc;
    margin-top: 20px;
    margin-left: -20px;
    margin-right: -20px;
    text-align: center;
}

.discoverMoreLink a {
    color: #045be6;
    display: inline-block;
    margin: 10px 0;
}

#showMoreActivity {
    display: none;
}

/* middle  */

.createPost {
    background: #fff;
}

.createPostInput {
    padding: 20px 25px 10px;
    display: flex;
    align-items: flex-start;
}


.createPostInput textarea {
    border: 0;
    outline: 0;
    resize: none;
    margin-top: 10px;
    width: 100%;
}

::placeholder {
    font-weight: 500;
}

.createPostLinks {
    display: flex;
    align-items: flex-start;
}

.createPostLinks li {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 25%;
    height: 40px;
    cursor: pointer;
    border: 1px solid #ccc;
    font-size: 13px;
}

.sortBy {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.sortBy hr {
    height: 1px;
    background: #ccc;
    border: 0;
    flex-grow: 1;
}

.sortBy p {
    font-size: 13px;
    padding-left: 5px;
}

.sortBy p span {
    font-weight: 600;
}

.sortBy p span img {
    width: 12px;
    margin-left: 3px;
}


/* right sidebar  */

.sidebarNews {
    background-color: #fff;
    padding: 10px 20px;
}

.sidebarNews .moreInfoIcon {
    width: 18px;
    float: right;
    margin-top: 10px;
}

.sidebarNews h3 {
    color: #333;
    font-size: 18px;
    font-weight: 600;
    margin: 10px 0 30px;
}

.sidebarNews a {
    display: block;
    font-size: 12px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: -3px;
}

.sidebarNews span {
    font-size: 12px;
}

.sidebarNews .readMoreLink {
    color: #045be6;
    font-weight: 500;
    margin: 20px 0 10px;
}

.sidebarAd {
    background-color: #fff;
    padding: 10px 20px;
    margin: 15px 0;
    text-align: center;
    font-size: 12px;
}

.sidebarAd img {
    width: 40px;
    border-radius: 50%;
    margin: 4px;
}

.sidebarAd small {
    float: right;
    font-weight: 500;
}

.sidebarAd p {
    margin-top: 30px;
    margin-bottom: 10px;
}

.sidebarAd b {
    display: block;
    font-weight: 500;
    margin-top: 10px;
}

.sidebarAd .adLink {
    display: inline-block;
    color: #045be6;
    border: 1px solid #045be6;
    padding: 5px 10px;
    border-radius: 30px;
    margin: 20px auto 10px;
    font-weight: 500;
}

.sidebarUsefulLinks {
    text-align: center;
    padding: 15px 25px;
}

.sidebarUsefulLinks a {
    display: inline-block;
    margin: 4px 2px;
    font-size: 14px;
}

.copyrightMsg {
    display: flex;
    font-size: 12px;
    font-weight: 500;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.copyrightMsg img {
    width: 18px;
    margin-right: 10px;
}


@media only screen and (max-width: 600px) {

    .middle {
        flex-basis: 100%;
    }

    .postActivityLink span {
        display: none;
    }

    #showMoreActivity {
        display: block;
        width: fit-content;
        margin: 10px auto;
    }

    .sidebarActivity {
        display: none;
    }
}